.active {
  background-color: #b2e4fa;
  color: grey;
}

.sideBarArrow {
  border: none;
  display: flex;
  justify-content: flex-end;
}

.teacherSideBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 15vw;
  height: 80vh;
  background-color: #43c0f6;
  color: #fff;
  padding: 20px;
  transition: width 0.3s ease-in-out;
  display: flex;
  flex-direction: column; /* Make the sidebar items stack vertically */
  justify-content: flex-start; /* Align items to the top */
}

.teacherSideBar.isActive {
  width: 5vw;
  transition: width 0.3s ease-in-out;
}

.teacherSideBarList {
  margin-top: 20px; /* Adjust margin as needed */
}

.sidebarLink {
  display: flex; /* Use flexbox for icon-text alignment */
  align-items: center; /* Align items vertically */
  margin-bottom: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.sidebarLink img {
  width: 20px; /* Adjust the width of the icons */
  margin-right: 10px; /* Add spacing between icon and text */
}

button {
  /* margin-top:;  */
  border: none; /* Remove the border */
  background: transparent; /* Make the background transparent */
  cursor: pointer;
  display: flex; /* Use flexbox for icon alignment */
  align-items: center; /* Align items vertically */
  justify-content: flex-end; /* Align content to the end (right) */
}

button img {
  width: 20px; /* Adjust the width of the arrow icon */
}
