

/* .image{
    display: inline;
    width: 50%;
    align-items: center;
}

.name{
    color: gray;
    font-family: "tahoma";
    font-weight: 700;
}

.container{
    border: 2px solid red;
    max-width: fit-content;
    float: inline-end;
    background-color: rgb(246, 238, 238);
    margin: 20px;
    text-align: center;
    border-radius: 20px;
}

.body{
    background-color: aquamarine;
    border: 2px solid red;
    height: 70vh;
} */