/** @format */

.projectSideBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.h4 {
  text-decoration: underline;
  padding-bottom: 5px;
  text-decoration-skip-ink: none;
}
